* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Baloo 2", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 3px solid grey;
  width: 400px;
}

.sub-heading {
  border-bottom: 1px solid black;
}

.sub-heading a {
  padding: 13px 20px;
  text-decoration: none;
  display: block; /* to make the whole <a> span <li> block */ 
  font-size: 1.1rem;
}

.sub-heading a:hover {
  text-decoration: none;
  color: inherit;
}

.sub-heading a:visited {
  text-decoration: none;
  color: inherit;
}

.headings, .headings li {
  list-style-type: none; 
}


#main-doc {
  margin-left: 420px;
}


nav header {
  font-weight: 500;
  font-size: 1.4rem;
  white-space: nowrap;
  padding: 20px;
  border-bottom: 1px solid black;
}

#main-doc header {
  font-weight: 500;
  font-size: 1.4rem;
  white-space: nowrap;
}

ul {
  list-style-position: inside;
}