* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Baloo 2", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headings, .headings li {
  list-style-type: none; 
}

header {
  font-weight: 500;
  font-size: 1.4rem;
  white-space: nowrap;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 3px solid grey;
  width: 400px;
}

#main-doc {
  margin-left: 25%;
}

.sub-heading {
  padding: 20px;
  border-bottom: 1px solid black;
}

.sub-heading a {
  text-decoration: none;
}

.sub-heading a:hover {
  text-decoration: none;
  color: inherit;
}

.sub-heading a:visited {
  text-decoration: none;
  color: inherit;
}