* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD

=======
html {
  font-size: 16px;
}
>>>>>>> bb35788b7e1b822c27ab2754ada8545e841687f5

body {
  font-family: "Baloo 2", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headings, .headings li {
  list-style-type: none; 
}

header {
<<<<<<< HEAD
  font-weight: 500;
  font-size: 1.4rem;
=======
  font-weight: 450;
  font-size: 1.3rem;
>>>>>>> bb35788b7e1b822c27ab2754ada8545e841687f5
  white-space: nowrap;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 3px solid grey;
<<<<<<< HEAD
  width: 400px;
=======
  width: 25%;
>>>>>>> bb35788b7e1b822c27ab2754ada8545e841687f5
}

#main-doc {
  margin-left: 25%;
<<<<<<< HEAD
}

.sub-heading {
  
  padding: 20px;
  border-bottom: 1px solid black;
}

.sub-heading a {
  text-decoration: none;
=======
>>>>>>> bb35788b7e1b822c27ab2754ada8545e841687f5
}